# Discord Bot Token
# Get this from https://discord.com/developers/applications
# 1. Create a new application
# 2. Go to "Bot" section
# 3. Copy the token
VITE_DISCORD_BOT_TOKEN=MTM5NTA2NjI0MjczMzMwOTk2Mg.GhseZz.jkgLO8sT64tsrsYWTn69Z1Fml98ZCg3qEUFl9I